# Dependencies
/node_modules
node_modules/

# Local Database (exclude raw JSON data dumps)
*.json
!package.json
!package-lock.json
!tsconfig.json
!wrangler.json
!webflow.json

# Environment
.env*
!/.env.example

# Wrangler
.wrangler/

# Astro
dist/
.astro/

# OS / Editor specific
.DS_Store
.vscode/ 